spring:
  application:
    name: ticket-system
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
server:
  tomcat:
    threads:
      max: 10

resilience4j:
  circuitbreaker:
    instances:
      ticketService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowType: COUNT_BASED
        minimumNumberOfCalls: 5
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
  retry:
    instances:
      ticketService:
        maxAttempts: 3
        waitDuration: 2s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
  ratelimiter:
    instances:
      ticketService:
        limitForPeriod: 10
        limitRefreshPeriod: 1s
        timeoutDuration: 0
  bulkhead:
    instances:
      ticketService:
        maxConcurrentCalls: 5
        maxWaitDuration: 0
